body
{
    background: rgb(156, 156, 238);
}
table{
    background: green;
    color: white;
    box-shadow: 20px 5px 20px 5px black;
    border-radius: 10px;
    
}
td,th{border: 1px solid black;
    width: 200px;
    border-radius: 20px;
    background: white;
    color: black;
    text-align: center;
}
input{
    border-radius: 10px;
}
select{
    border-radius: 10px;
}